* {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.p {
    font-size: 16px;
    color: #4f5665;
}

.finance-project.main {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #0A315C;
}

/* контейнер */
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* ===== HEADER ===== */

.featureIntroSection {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
  transition: 0.2s;
  gap: 10px;
}

.topContent:hover {
  opacity: 0.8;
}

.brandLogo {
  width: 35px;
}

.brandNameContainer {
  font-size: 20px;
  font-weight: 700;
}

.brandNameContainer_span0 {
  color: #e93059;
}

.brandNameContainer_span1 {
  color: #0A315C;
}

/* навигация */
.wrapper {
  display: flex;
  gap: 30px;
}

.wrapper span {
  font-size: 16px;
  position: relative;
  cursor: pointer;
  color: #4f5665;
  padding-bottom: 6px;
  transition: color 0.25s ease, transform 0.25s ease;
}

.wrapper span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper span:hover {
  color: #0A315C;
  transform: translateY(-1px);
}

.wrapper span:hover::after {
  transform: scaleX(1);
  background: #e93059;
}


.wrapper span.active {
  color: #0A315C;
  font-weight: 500;
}

.wrapper span.active::after {
  transform: scaleX(1);
  background: #e93059;
}

/* кнопки */
.userActionContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userActionContainer a {
text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #0A315C;
  transition: 0.2s;
}

.userActionContainer a:hover {
  transform: translateY(-2px);
  color: #e93059;
}

.loginLink {
  font-size: 16px;
  font-weight: 500;
  color: #0A315C;

  border: 2px solid #0A315C;
  padding: 10px 40px;
  border-radius: 25px;

  background: transparent;
  cursor: pointer;

  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(11, 19, 42, 0.08);
}

.loginLink:hover {
  background: #0A315C;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(11, 19, 42, 0.18);
}

/* ===== HERO ===== */

.financialControlSection {
  padding: 60px 0;
}

.contentInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.textContentWrapper {
  max-width: 50%;
}

.introText {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0A315C;
}

.descriptionBox {
  color: #4f5665;
  line-height: 1.6;
  margin-bottom: 30px;
}

.tryButton {
  padding: 15px 50px;
  font-size: 16px;
  background: #e93059;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 6px 15px rgba(233, 48, 89, 0.25);
}

.tryButton:hover {
  background: #D42D52;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(233, 48, 89, 0.35);
}

.fintrackImage {
  margin-right: 20px;
  width: 45%;
}

/* ===== СТАТИСТИКА ===== */

.statisticsBlock {
  background: #f8f8f8;
  padding: 50px;
  border-radius: 10px;
  margin-top: 50px;
}

.statisticsContent {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.statsItemWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.statsIcon {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}

.statsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.usersStat {
  font-size: 30px;
  font-weight: bold;
}

.statsDescription {
  font-size: 20px;
  color: #4F5665;
}

.appFeaturesSection {
  padding: 0px 0;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 60px;
}

.descriptionContainer {
  max-width: 50%;
}

.appCapabilitiesDescription {
  font-size: 35px;
  margin-bottom: 20px;
  color: #0A315C;
  font-weight: 500;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  font-size: 16px;
  color: #4F5665;
  line-height: 1.8;
}

.checkIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 3px;
}

.featureCard {
  display: flex;
  gap: 10px;
  align-items: center;
}

.featuresLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  max-width: 1200px;
  margin: 0 auto;
}

.featuresImageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.featureImage {
  width: 80%;
  max-width: 100%;
}

.featuresText {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.featureDescription{
  color: #4F5665;
  line-height: 1.5;
}

/* ===== ABOUT ===== */

.aboutSection {
  padding: 80px 0;
}

.aboutHeader {
  text-align: center;
  margin-bottom: 60px;
}

.aboutTitle {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0A315C;
}

.aboutSubtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #4F5665;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;

  max-width: 1200px;
  margin: 10px auto;
}

.aboutImageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;               
}

.aboutImage {
  width: 350px;
  max-width: 100%;
  border-radius: 6px;
}

.aboutText {
  color: #4F5665;
  font-size: 16px;
  line-height: 1.8;
  max-width: 50%;
}

/* ===== DEMO ===== */

.demoSection {
  position: relative;
  z-index: 2;
  margin-bottom: -80px; 
}

.demoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 50px;
  border-radius: 10px;
  line-height: 1.5;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.demoContent {
  display: left;
  flex-direction: column;  
  text-align: left;
}

.demoContent h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.demoContent p {
  color: #4F5665;
}

/* ===== FOOTER ===== */

.footer {
  background: #0A315C;
  color: white;
  padding: 120px 0 60px;
  position: relative;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footerLeft {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footerLogo {
  font-size: 22px;
  font-weight: 700;
}

.logoFin {
  color: #e93059;
}

.logoTrack {
  color: white;
}

.footerDescription {
  color: #b0b7c3;
  line-height: 1.6;
}

.footerIcons {
  display: flex;
  gap: 18px;
}

.footerIcons img {
  width: 34px;
  cursor: pointer;
  transition: 0.2s;
}

.footerIcons img:hover {
  transform: scale(1.1);
}

.footerCopyright {
  color: #6b7280;
  font-size: 14px;
}

.footerRight {
  display: flex;
  gap: 80px;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerTitle {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.footerColumn span, a{
  color: #b0b7c3;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.footerColumn span:hover {
  color: white;
}

.footerColumn:last-child span {
  color: #9aa3b2;
}

/* ===== АДАПТИВ ===== */

@media (max-width: 900px) {
  .contentInnerWrapper,
  .imageContainer,
  .mediaWrapper {
    flex-direction: column;
    text-align: center;
  }

  .demoWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .brandingContainer {
    flex-direction: column;
    gap: 40px;
  }
}